body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  padding: 10px;
}

.screen {
  text-align: end;
}
