body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
  border: 3px solid;
  border-radius: 5px;
}

.screen {
  text-align: end;
  margin: 10px;
  border: 3px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: 5px;
}

.btn,
#btn-plus-minus {
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  background-color: greenyellow;
}

.btn-clear {
  background-color: red;
}

.btn-del {
  background-color: orange;
}

.btn-operate {
  background-color: aqua;
}

.btn-equal {
  background-color: aqua;
}

button:hover {
  background-color: darkgray;
}
